body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Inter';
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #EAE1DF;
}
.digitalClock{
    text-align: center;
    background-color: rgb(150, 241, 150);
    border: 2px solid black;
    width: 14rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-radius: 5px;
}
#local{
    padding-bottom: .5rem;
}

#clock,#date ,#day{
    width: 10rem;
    height: 2rem;
    background-color: rgb(250, 250, 123);
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
